<!DOCTYPE html>
<html>

<head>
    <title>Manage Criminals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/gif" href="/static/images/greekpolice.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            border-radius: 20px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .black {
            color: black;
         }

        .required {
            color: red;
            font-weight: bold;
        }
    </style>
    <script>
    $(document).ready(function() {
            $('#updateModal').on('show.bs.modal', function (e) {
            var _button = $(e.relatedTarget);
            var _row = _button.parents("tr");
            var _id = _row.find(".criminal_id").text();
            var _portrait = _row.find('img').attr("src");
            var _full_name = _row.find(".criminal_full_name").text();
            var _age = _row.find(".criminal_age").text();
            var _height = _row.find(".criminal_height").text();
            var _weight = _row.find(".criminal_weight").text();
            var _eye_color = _row.find(".criminal_eye_color").text();
            var _biography = _row.find(".criminal_bio").text();
            var _last_location = _row.find(".criminal_last_location").text();
            $(this).find(".criminal_id").val(_id);
            $(this).find(".criminal_portrait").val(_portrait);
            $(this).find(".criminal_full_name").val(_full_name);
            $(this).find(".criminal_age").val(_age);
            $(this).find(".criminal_height").val(_height);
            $(this).find(".criminal_weight").val(_weight);
            $(this).find(".criminal_eye_color").val(_eye_color);
            $(this).find(".criminal_bio").val(_biography);
            $(this).find(".criminal_last_location").val(_last_location);
        });
     });

    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
    </script>
</head>

<body style="background-image: url('/static/images/background.jpg')">

    <div class="header">
      <img src="/static/images/greekpolice.png" alt="Police logo" style="width: 3%;">
      <div class="header-right">
        <a href="home">Home</a>
        <a href="manage" class="active">Manage</a>
        <a href="live_feed">Live Feed</a>
        <a href="contact">Contact</a>
        <a href="welcome" class="btn btn-danger" style="color: white;">
              <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </div>
    </div>

    <br><br><br>

    {% if error %}
        <div class="container" style="width:35%; background-color: red;">
            <p class="error" style="color: white; text-align:center; align:center;"><strong>Error:</strong> {{ error }}</p>
        </div><br><br>
    {% endif %}
    {% if success %}
        <div class="container" style="width: 35%; background-color: green;">
            <p class="success" style="color: white; text-align:center; align:center;"><strong> {{ success }}</strong></p>
        </div><br><br>
    {% endif %}

    <div class="container">
        <h1 align="center" style="color: black;">Manage Criminals</h1>
        <hr style="border-color: black; background-color: black; color: black;">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="black">
                        <th scope="col">Id</th>
                        <th scope="col">Portrait</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Height (in cm)</th>
                        <th scope="col">Weight (in kg)</th>
                        <th scope="col">Eye Color</th>
                        <th scope="col">Biography</th>
                        <th scope="col">Last location</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody class="black">
                    {% for row in result %}
                        <tr>
                            <th class="criminal_id" scope="row">{{row.0}}</th>
                            <td class="criminal_portrait"><img src="{{row.7}}" style="width: 100px; height: 100px;"></td>
                            <td class="criminal_full_name">{{row.1}}</td>
                            <td class="criminal_age">{{row.2}}</td>
                            <td class="criminal_height">{{row.3}}</td>
                            <td class="criminal_weight">{{row.4}}</td>
                            <td class="criminal_eye_color">{{row.5}}</td>
                            <td class="criminal_bio">{{row.6}}</td>
                            <td class="criminal_last_location">{{row.8}}</td>
                            <td>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#updateModal">Update</button>
                            </td>
                            <td>
                                <form action="remove_criminals" method="post">
                                    <input type="hidden" id="row.0" name="row.0" value="{{row.0}}">
                                    <input type="hidden" id="row.1" name="row.1" value="{{row.1}}">
                                    <button class="btn btn-danger confirmation">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
        <form action="" method="post">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header black">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Criminal</h4>
                    </div>
                    <div class="modal-body black">
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_id">Id</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_id" type="text" id="criminal_id" name="criminal_id" placeholder="Criminal's Full Name.." readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_full_name">Full Name</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_full_name" type="text" id="criminal_full_name" name="criminal_full_name" placeholder="Criminal's Full Name.." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_portrait">Portrait</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_portrait" type="text" id="criminal_portrait" name="criminal_portrait" placeholder="Criminal's Portrait URL.." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_age">Age</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_age" type="text" id="criminal_age" name="criminal_age" placeholder="Criminal's Age.." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_height">Height (in cm)</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_height" type="text" id="criminal_height" name="criminal_height" placeholder="Criminal's Height.." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_weight">Weight (in kg)</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_weight" type="text" id="criminal_weight" name="criminal_weight" placeholder="Criminal's Weight.." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="contactlabel" for="criminal_eye_color">Eye Color</label>
                                <span class="required">*</span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    <select required class="form-control criminal_eye_color" name="criminal_eye_color" id="criminal_eye_color">
                                        <option value="Black">Black</option>
                                        <option value="Brown">Brown</option>
                                        <option value="Blue">Blue</option>
                                        <option value="Green">Green</option>
                                        <option value="Dark Brown">Dark Brown</option>
                                        <option value="Amber">Amber</option>
                                        <option value="Gray">Gray</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                  <label class="contactlabel" for="criminal_bio">Crime Record</label>
                                  <span class="required">*</span>
                                  <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                     <textarea class="form-control criminal_bio" id="criminal_bio" name="criminal_bio" placeholder="Criminal's Biography.." style="height:200px" required></textarea>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label class="contactlabel" for="criminal_last_location">Last known location (optional)</label>
                                   <div class="input-group">
                                     <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                     <input class="form-control criminal_last_location" type="text" id="criminal_last_location" name="criminal_last_location" placeholder="Criminal's Last Known Location..">
                                   </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-warning" value="Update">
                    </div>
              </div>
            </div>
        </form>
    </div>
</body>

</html>

